html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* On applique la couleur au background de la page d'accueil */
body
{
    width: 100vw;
    margin: 0;
    background: linear-gradient(#006AF5,#0A131F);

}

ul
{
    list-style-type: none;
}

img:not(.article_banner>img)
{
    width: 100%;
    width: ;
}

figcaption
{
    text-align: center;
}

.footer
{
    background-image: url("../icons/footer_background.svg");
    margin-top: 100px;
}

h2, h3
{
    text-align: center;
}

p
{
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }

    .menu{
        opacity: 1;
        position: fixed;
        right: 0px;
        top: 0vh;
        background: linear-gradient(#006AF5, #053F8A);
        width: 100vw;
        height: 100vh;
        transform: translateX(100%);
    }

.header_menu
{
    display: flex;
    justify-content: space-between;
}

.menu li
{
    margin-right: 30px;
    justify-content: center;
    padding-bottom: 50px;
}

.pagetitle
{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.nav-links
{
    width: 325px;
    height: max-content;
    text-align: center;
}

.nav-links a
{
    margin-bottom: 20px;
    padding: 15px 10px;
    border: 1px solid var(--impure_black);
    border-radius: 5px;
    background-color: var(--drop_water_blue);
}

.burger
    {
        display: block;
    }
}

.nav-active{
    z-index: 9;
    transform: translateX(0%);
    }

.burger
{
margin-top: 10px;
margin-left: 305px;
}

.applogoname{
    width: calc(100% - 150px);
    height: max-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.cross

.applogoname>a
{
    border: black;
}

h1
{
    text-align: left;
}

.scroll
{
    width: calc(100% - 270px);
    height: max-content;
    margin: 0 135px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.articles_list
{
    width: calc(100% - 30px);
    height: max-content;
    margin: 0 15px;
}

.home_article
{
    border: 1px solid var(--impure_black);
    border-radius: 5px;
    height: max-content;
    background-color: var(--impure_white);
    margin-bottom: 50px;
}


.article_banner
{
    border-bottom: 1px solid var(--impure_black);
    border-radius: 5px 5px 0 0;
    text-align: center;
    display: flex;
    width: 100%;
    height: 72px;
    background-color: var(--drop_water_blue);
}

.article_banner>img{
    border-radius: 4px 0 0 0;
    border-right: 1px solid var(--impure_black);
  }

.article_banner>h2{
    width: 100%;
    position: relative;
    margin: auto 0;
    height: max-content;
}

.home_article>p{
    text-align: left;
    margin : 15px 15px;
}

.btn
{
    border: 1px solid var(--impure_black);
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    position: relative; 
    margin: 15px auto;
    width: 160px;
    background-color: var(--drop_water_blue);
    
}

.footerglobal
{
    
    display: flex;
    justify-content: center;
    width: calc(100%);
    height: max-content;
    padding-top: 30px;
}

.footerp1
{
    border-right: 1px solid var(--impure_white);
    text-align: left;
    padding-right: 20px;
}

.footerp2
{
    text-align: center;
    margin-left: 20px;
}

.footer>p
{
    text-align: center;
}

.bar_header
{
    display: flex;
    justify-content: space-between;
}

.logo_menu_click
{
    margin-top: 10px;
    margin-left: 10px;
}

form
{
    margin-left: 100px;
}