:root{
/* Color styles */
--footer_black: #0A141F;
--impure_white: #FEFEFE;
--impure_black: #050505;
--drop_water_blue: #D4F2F2;
--mailto_yellow: #FFCA64;

  /* Font-family styles */
  --font_titles: 'Josefin Sans', monospace;
  --font_content: 'Lato', sans-serif;

/* Text-size styles */
/* base size: home_description (16px) */
--app_name: 1.88rem;
--home_description: 1rem;
--home_articles_names: 1.62rem;
--page_title: 1.56rem;
--article_introduction: 0.88rem;
--title: 1.25rem;
--article_content: 1rem;
--picture_caption: 0.88rem;
--next_article_teasing: 1rem;
--next_article_button: 1.25rem;
--other_content: 1rem;
--form_categories: 1.25rem;
--languages: 1.25rem;
--home_articles_descriptions: 1.25rem;
--menu_articles_buttons: 1.44rem;
--footer_name: 1.25rem;
--footer_school: 1.25rem;
--footer_contact_sentence: 1.06rem;
--footer_mailto: 0.88rem;
--footer_legal_sentence: 0.88rem;
--home_next_article_button: 1.12rem;
}